body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv { 
            	background-color:white;
            	color:black;
            	width:500px;          
            	padding: 20px;
            	border-radius: 25px;
           	line-height:200% ; }


footer {	text-align:left; }

table {
		margin: auto; }

td {
		text-align :left; }

p {		
           	line-height:130% ; }